@charset "utf-8";
/* TOC – Color Variables

- Basics
- Corporate Identity Colorpalette
- Foundation Color Variables
- Grey Scale
- Topbar-Navigation
- Footer
- Code

*/

/* Basics
------------------------------------------------------------------- */

$text-color         : #000000; // University of Iowa black
$body-font-color    : $text-color;
$body-bg            : #fdfdfd; // Light background color (can be adjusted)

/* Corporate Identity Colorpalette
   University of Iowa Colors
------------------------------------------------------------------- */

$ci-1               : #000000; // Black
$ci-2               : #FFD100; // Gold
$ci-3               : #E4E4E4; // Light Gray (example)
$ci-4               : #BEBEBE; // Medium Gray (example)
$ci-5               : #A4A4A4; // Darker Gray (example)
$ci-6               : #333333; // Dark Gray (example)

/* Foundation Color Variables
------------------------------------------------------------------- */

$primary-color      : $ci-1;
$secondary-color    : $ci-2;
$alert-color        : $ci-5;
$success-color      : $ci-2;
$warning-color      : $ci-4;
$info-color         : $ci-1;

/* Grey Scale
------------------------------------------------------------------- */

$grey-1             : #E4E4E4;
$grey-2             : #D7D7D7;
$grey-3             : #CBCBCB;
$grey-4             : #BEBEBE;
$grey-5             : #A4A4A4;
$grey-6             : #979797;
$grey-7             : #8B8B8B;
$grey-8             : #7E7E7E;
$grey-9             : #646464;
$grey-10            : #575757;
$grey-11            : #4B4B4B;
$grey-12            : #3E3E3E;
$grey-13            : #313131;
$grey-14            : #242424;
$grey-15            : #171717;
$grey-16            : #0B0B0B;

/* Topbar-Navigation
------------------------------------------------------------------- */

/* Topbar-Navigation
------------------------------------------------------------------- */

/* General Topbar Styles */
$topbar-bg-color: $body-bg; /* Topbar background color */
$topbar-bg: $topbar-bg-color;

/* Dropdown Toggle */
$topbar-dropdown-toggle-color: $text-color; /* Ensure dropdown toggle icon is black */

/* Links */
$topbar-link-color: $text-color; /* Text color of links */
$topbar-link-color-hover: $ci-2; /* Gold color for hover effect */
$topbar-link-color-active: $ci-2; /* Gold color for active state */
$topbar-link-color-active-hover: $ci-2; /* Ensure consistency for hover while active */

/* Link Background */
$topbar-link-bg-active: $ci-3; /* Light gray background for active link for better contrast */
$topbar-link-bg-hover: $ci-4; /* Medium gray background for hover state */
$topbar-link-bg-active-hover: $ci-5; /* Darker gray background for hover while active */

/* Dropdown Styles */
$topbar-dropdown-label-color: $text-color; /* Text color for dropdown labels */
$topbar-dropdown-link-bg-hover: $ci-6; /* Dark gray background for dropdown links on hover */
$topbar-dropdown-bg: $ci-3; /* Light gray background for dropdown menu */
$topbar-dropdown-link-color: $text-color; /* Ensure dropdown links are black */
$topbar-dropdown-link-bg: $ci-4; /* Medium gray background for dropdown links */

/* Toggled Menu */
$topbar-menu-link-color-toggled: $text-color; /* Black color for toggled menu links */
$topbar-menu-icon-color-toggled: $text-color; /* Black color for toggled menu icons */
$topbar-menu-link-color: $text-color; /* Ensure menu links are black */
$topbar-menu-icon-color: $text-color; /* Ensure menu icons are black */

/* Color adjustments for toggled state */
$topbar-menu-link-color-toggled: $text-color; /* Consistent black color for toggled menu links */
$topbar-menu-icon-color-toggled: $text-color; /* Consistent black color for toggled menu icons */

/* Footer
------------------------------------------------------------------- */

$footer-bg          : $grey-8;
$footer-color       : #fff;
$footer-link-color  : $ci-2;

$subfooter-bg       : $grey-13;
$subfooter-color    : $grey-8;
$subfooter-link-color: $grey-8;

/* Code
------------------------------------------------------------------- */

$code-background-color: scale-color($secondary-color, $lightness: 70%);

$highlight-background: #ffffff;
$highlight-comment: #999988;
$highlight-error: #a61717;
$highlight-comment-special: #999999;
$highlight-deleted: #000000;
$highlight-error-2: #aa0000;
$highlight-literal-string: #d14;
$highlight-literal-number: #009999;
$highlight-name-attribut: #008080;
$highlight-error-background: #e3d2d2;
$highlight-generic-deleted: #ffdddd;
$highlight-generic-deleted-specific: #ffaaaa;
$highlight-generic-inserted: #ddffdd;
$highlight-generic-inserted-specific: #aaffaa;
$highlight-generic-output: #888888;
$highlight-generic-prompt: #555555;
$highlight-subheading: #aaaaaa;
$highlight-keyword-type: #445588;
$highlight-name-builtin: #0086B3;
$highlight-name-class: #445588;
$highlight-name-entity: #800080;
$highlight-name-exception: #990000;
$highlight-name-function: #990000;
$highlight-name-namespace: #555555;
$highlight-name-tag: #000080;
$highlight-text-whitespace: #bbbbbb;
$highlight-literal-string-regex: #009926;
$highlight-literal-string-symbol: #990073;
